$borderColor: #FFD700;

$defaultFontSize: 20px;
$defaultLineHeight: 20px;
$defaultGutterWidth: 16px;

$backgroundColors: (
	"primary": #000000,
	"secondary": #FFD700
);

$fontColors: (
	"primary": #ffffff,
	"secondary": #666666,
	"alert": #FFD700,
	"background": #000000
);

@mixin breakpointPhoneLandscapeDown {
	@media (max-width: 480px) {
		@content
	}
}

@mixin breakpointPortraitTabletDown {
	@media (max-width: 767px) {
		@content
	}
}

@mixin breakpointPortraitTabletToLandscapeTablet {
	@media (min-width: 768px) and (max-width: 1023px) {
		@content
	}
}

@mixin breakpointLandscapeTabletDown {
	@media (max-width: 1024px) {
		@content
	}
}

@mixin breakPointLargeDesktopDown {
	@media (max-width: 1200px) {
		@content
	}
}

@mixin breakpointLargeDesktopsUp {
	@media (min-width: 1200px) {
		@content
	}
}