@import "variables";

article {
	&.post, &.page, &.event {
		margin-bottom: $defaultGutterWidth;
	}

	.post-thumbnail img {
		object-fit: contain;
		object-position: center center;
		border: 1px dashed map_get($backgroundColors, "secondary");
	}

	.entry-content {
		margin-top: $defaultGutterWidth;

		table {
			@include breakpointLandscapeTabletDown {
				display: block;
				overflow-x: auto;
				white-space: nowrap;
			}

			tr td {
				border-bottom: 1px dashed map_get($backgroundColors, "secondary");
				border-right: 1px dashed map-get($backgroundColors, "secondary");
				padding: $defaultGutterWidth / 2;

				&:last-child {
					border-right: none;
				}
			}

			tr:last-child td {
				border-bottom: none;
			}
		}
	}
}

article.log {
	border: 1px dashed $borderColor;
	background-color: rgba(map_get($backgroundColors, "primary"), 0.3);
	display: flex;

	.article-information {
		display: flex;
		flex-direction: column;
		padding: $defaultGutterWidth;

		header {
			h1 {
				color: map_get($fontColors, "primary");
				font-size: 1.2rem;
				margin: 0;
			}
		}

		.entry-content {
			margin: 0;

			p {
				margin: 0;
				font-size: 0.9rem;
			}
		}

		footer {
			a,
			time,
			span {
				font-size: 0.9rem;
				color: map_get($fontColors, "secondary");
			}
		}
	}
}