@import "variables";

html {
	font-size: $defaultFontSize;
	line-height: $defaultLineHeight;
}

body {
	background-image: url("./assets/images/background.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

#page {
	width: 1024px;
	margin: 0 auto;
	background-color: rgba(map_get($backgroundColors, "primary"), 0.7);

	@include breakpointLandscapeTabletDown {
		width: 100%;
		margin: 0;
	}
}

#content {
	padding: $defaultGutterWidth;
}