@import "variables";

button {
	border: 1px dashed $borderColor;
	background-color: rgba(map_get($backgroundColors, "primary"), 0.3);
	color: map_get($fontColors, "primary");
	padding: $defaultGutterWidth $defaultGutterWidth 12px;
	outline: none;
	text-decoration: none;
	font-size: 1.2rem;
	line-height: 1.2rem;

	&:hover,
	&:active {
		border: 1px solid $borderColor;
		text-decoration: none;
	}
}