@import "variables";

#content {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	//margin-top: -40px;

	@include breakpointLandscapeTabletDown {
		flex-direction: column;
	}

	#primary {
		flex: 1 1 auto;

		* {
			text-shadow: 1px 1px 3px map_get($fontColors, "background");
		}
	}

	#secondary {
		flex: 1 0 auto;
		padding: 0 0 0 $defaultGutterWidth;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}