@import "variables";
@import "../assets/fonts/aakar/style";

* {
	color: map_get($fontColors, "primary");
	font-family: 'aakar', sans-serif;
	font-size: 1rem;
	font-weight: normal;
}

a {
	color: map_get($fontColors, "alert");
	text-decoration: unset;

	&:visited {
		color: rgba(map_get($fontColors, "alert"), 0.8);
	}

	&:active,
	&:hover,
	&:focus {
		color: map_get($fontColors, "alert");
		text-decoration: underline;
	}
}

h1 {
	font-size: 2rem;
	line-height: 2rem;
	color: map_get($fontColors, "alert");
	margin: $defaultGutterWidth 0;
}

h2 {
	font-size: 1.8rem;
	line-height: 1.8rem;
	color: rgba(map_get($fontColors, "alert"), 0.7);
	margin: ($defaultGutterWidth / 2) 0;
}

h3 {
	font-size: 1.7rem;
	line-height: 1.7rem;
	margin: ($defaultGutterWidth / 2) 0;
}

h4 {
	font-size: 1.5rem;
	line-height: 1.5rem;
	margin: ($defaultGutterWidth / 2) 0;
}

h5 {
	font-size: 1.3rem;
	line-height: 1.3rem;
	margin: ($defaultGutterWidth / 2) 0;
}

h6 {
	font-size: 1.1rem;
	line-height: 1.1rem;
	margin: ($defaultGutterWidth / 2) 0;
}