@import "variables";

footer#colophon {
	background-color: rgba(map_get($backgroundColors, "secondary"), 0.3);
	padding: 12px $defaultGutterWidth 6px;
	text-align: center;

	span {
		font-size: 0.9rem;
	}
}