@import "variables";

#masthead {
	display: flex;
	justify-content: center;
	z-index: 10;
	padding-top: $defaultGutterWidth;
	margin: 0 $defaultGutterWidth;
}

div#site-branding {
	display: flex;
	align-self: flex-end;
	align-items: center;
	justify-content: center;
	flex: 1 0 auto;
	margin-right: -116px;
	z-index: 1;

	@include breakPointLargeDesktopDown {
		margin-right: 0;
	}

	.site-name {
		display: flex;
		flex-direction: column;

		h1.site-title,
		p.site-description {
			margin: 0;
		}

		h1.site-title {
			a,
			a:visited {
				font-size: 2.5rem;
				line-height: 2.5rem;
				color: map_get($fontColors, "primary");
			}
		}

		p.site-description {
			font-size: 1.5rem;
			line-height: 1.5rem;
			color: map_get($fontColors, "secondary");

			@include breakpointPortraitTabletDown {
				display: none;
			}
		}
	}

	div.site-logo {
		width: 200px;
		height: 200px;
		display: inline-block;
		margin-left: $defaultGutterWidth;

		@include breakpointPhoneLandscapeDown {
			display: none;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

nav#site-navigation {
	display: flex;
	align-items: center;
	position: relative;

	ul#primary-menu {
		li {
			padding: 0 4px;

			a {
				font-size: 1.2rem;
				line-height: 1.2rem;
				color: map_get($fontColors, "primary");
				padding: $defaultGutterWidth $defaultGutterWidth 12px;
				border: 1px dashed $borderColor;

				&:hover {
					text-decoration: none;
					background-color: rgba(map_get($backgroundColors, "secondary"), 0.3);
				}
			}
		}
	}

	@include breakpointLandscapeTabletDown {
		.menu-menu-1-container {
			position: absolute;
			top: 71px;
			width: 300px;
			z-index: 10;

			ul#primary-menu {
				width: 100%;

				li {
					width: 100%;
					padding: 0;

					a {
						display: block;
						background-color: map_get($backgroundColors, "primary");
					}
				}
			}
		}
	}
}