.home #content {
	.events-area {
		min-width: 320px;

		> header h1 {
			margin-top: ($defaultGutterWidth / 2) * -1;
		}

		@include breakpointLandscapeTabletDown {
			order: 2;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			header {
				width: 100%;
				flex: 1 1 100%;
			}

			article {
				flex: 1 0 calc(50% - #{$defaultGutterWidth});
				max-width: calc(50% - #{$defaultGutterWidth});
				margin: $defaultGutterWidth ($defaultGutterWidth / 2) 0;
			}
		}

		@include breakpointPortraitTabletDown {
			min-width: unset;

			article {
				flex: 1 0 100%;
				max-width: 100%;
				margin: ($defaultGutterWidth / 2) 0;
			}
		}
	}

	#primary {
		padding: 0 0 0 $defaultGutterWidth;
		flex-basis: 100%;

		@include breakpointLandscapeTabletDown {
			padding: 0;
		}
	}
}